@model Acando.TimeReporter.Models.HomeViewModel
@{
    Bundles.Reference("Content/Acando");
    Bundles.Reference("Scripts/Acando");
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Time Reporter</title>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css"/>
    @Bundles.RenderStylesheets("Content/Acando")
</head>
<body ng-app="app">
    <header class="navbar navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#/">Time reporter</a>
            </div>
            <ul class="navbar-nav nav">
                <li>
                    <a href="#/MyReports">My Reports</a>
                </li>
            </ul>
        </div>
    </header>

    <section class="container" class="ng-cloak">
        <div class="ng-view"></div>
    </section>
    @{ Html.RenderPartial("_MyReports");  }
    @{ Html.RenderPartial("_ReportTime");  }
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-route.min.js"></script>
    @Bundles.RenderScripts()
</body>
</html>
